@charset "utf-8";
/********************************
 * autor: zyh
 * time:  2012-06
 * link:  jikeytang@gmail.com
 * info:  main - css
 *******************************/
/* common */
*{margin:0;padding:0;}
body{font-size:12px;font-family:arial,'宋体';background:url(../images/wh-bodybg.png) top repeat-x #fff;color:#666;}
form,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
img{border:0;}
ul,li{list-style-type:none;}
.tc{text-align:center;}
.tl{text-align:left;}
.tr{text-align:right;}
.db{display:block;}
.dn{display:none;}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
em{font-style:normal;}
.cp{cursor:pointer;}
.fz11{font-size:11px;}
.fz12{font-size:12px;}
.fwn{font-weight:normal;}
.fwb{font-weight:700;}
.lh18{line-height:180%;}
select,input,button{font:12px/20px Verdana,Simsun,Helvetica,Arial,sans-serif;}
.ofh{overflow:hidden;}
input,select,img{vertical-align:middle;}
a{color:#0091bf;text-decoration:none;}
a:hover{color:#f90;text-decoration:underline;}
a:focus{outline:0;}
.h10{clear:both;height:10px;overflow:hidden;}
.m10{margin:10px;}
.mtb10{margin:10px 0;}
.mlr10{margin:0 10px;}
.mt10{margin-top:10px;}
.ml10{margin-left:10px;}
.mb10{margin-bottom:10px;}
.mr10{margin-right:10px;}
.mb3{margin-bottom:3px;}
.mr3{margin-right:3px;}
.ml3{margin-left:3px;}
.m5{margin:5px;}
.mtb5{margin:5px 0;}
.mlr5{margin:0 5px;}
.mt3{margin-top:3px;}
.mt5{margin-top:5px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt40{margin-top:40px;}
.ml5{margin-left:5px;}
.mb5{margin-bottom:5px;}
.mr0{margin-right:0;}
.mr5{margin-right:5px;}
.p10{padding:10px;}
.ptb10{padding:10px 0;}
.plr10{padding:0 10px;}
.pr10{padding-right:10px;}
.pl10{padding-left:10px;}
.pl12{padding-left:12px;}
.pl14{padding-left:14px;}
.pl55{padding-left:55px;}
.pl110{padding-left:110px;}
.p5{padding:5px;}
.ptb5{padding:5px 0;}
.pl5{padding-left:5px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt20{padding-top:20px;}
.p20{padding:20px;}
.pt30{padding-top:30px;}
.pb10{padding-bottom:10px;}
.pl15{padding-left:15px;}
.pb15{padding-bottom:15px;}
.ww100{width:100%;}
.hh100{height:100%;}
.red{color:#f00;}
.green{color:#090;}
.blue{color:#06c;}
.black{color:#000;}
.ppr{position:relative;}
.yellow{color:#ff3;}
.yellow a:link,.yellow a:visited{color:#ff3;}
.orange,.orange a:link,.orange a:visited{color:#f60;}
.orange a:hover{color:#f60;}
.textf6a{color:#e94609;}
.textf6a a:link,.textf6a a:visited{color:#e94609;}
.textf6a a:hover{color:#b70031;}
.textf93,.textf93 a:link,.textf93 a:visited{color:#f93;}
.textf93 a:hover{color:#f93;}
.textc90,.textc90 a:link,.textc90 a:visited{color:#c90;}
.textc90 a:hover{color:#960;}
.textc00,.textc00 a:link,.textc00 a:visited{color:#c00;}
.textc00 a:hover{color:#c00;}
.text969,.text969 a:link,.text969 a:visited{color:#969;}
.text969 a:hover{color:#960;}
.text939,.text939 a:link,.text939 a:visited{color:#939;}
.text939 a:hover{color:#960;}
.gray,.gray a:link,.gray a:visited{color:#333;}
.gray a:hover{color:#c00;}
.blue,.blue a:link,.blue a:visited{color:#06c;}
.blue a:hover{color:#e94609;}
.white,.white a:link,.white a:visited{color:#fff;}
.white a:hover{color:#ff0;}
.bdb{border:1px solid #ccc;}
.imgbdbp1{border:1px solid #ccc;background:#fff;padding:1px;}
.imgbdbp2{border:1px solid #ccc;background:#fff;padding:2px;}
.minheight400{min-height:400px;height:auto !important;height:400px;overflow:visible;}
.dd_input_text{border:1px solid #90b3c9;height:16px;line-height:16px;padding:2px;background:#fff; }
.dd_input_text:focus{border:1px solid #f90;}
.dd_common_textarea{border:1px solid #90b3c9;font-size:12px;line-height:16px;padding:2px;background:#fff;overflow:auto;}
.dd_input_submit{width:63px;height:27px;line-height:27px;color:#fff;background:url(../images/enter.jpg) no-repeat 0 0;border:none 0;cursor:pointer;}
.dd_goto_btn{width:58px;height:23px;background:url(../images/dd_goto_btn.png) no-repeat 0 0;}
.num_sure{width:34px;height:22px; line-height:22px; margin-left:5px;background:url(../images/dd_goto_btn.png) no-repeat center -1px; border:1px solid #ccc;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{display:inline-block;}
html[xmlns] .clearfix{display:block;}
* html .clearfix{height:1%;}
/* header */
.header-bar{ line-height:35px; background:#2d2d2d;}
.logo{ padding-left:10px;}
/* body */
.container{ position:relative; zoom:1;}
.sider{ position:absolute; top:0px; left:0px; width:230px;}
.main{ margin-left:230px; padding-top:10px;}
.myframe{border-radius:5px; border:1px solid #ccc;box-shadow:0 0 4px #aaa;}

