@charset "utf-8";
/**
 * @description: common
 * @see        : http://jikey.cnblogs.com
 * @Time       : 2012-08
 * @since      : version 0.1
 */
/* reset */
/* $hack :ie 6 _  \ ie7 * \  ie8 \9  \  ie9 \9\0 */
*{margin:0;padding:0;}
body{font-size:12px;font-family:arial,'宋体';background:#fff;color:#666;}
form,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
img{border:0;}
em{font-style:normal;}
select,input,button{font:12px/20px Verdana,Simsun,Helvetica,Arial,sans-serif;}
input,select,img{vertical-align:middle;}
ul,li{list-style-type:none;}
a{color:#333;text-decoration:none;}
a:hover{color:#f60;text-decoration:underline;}
a:focus{outline:0;}
button::-moz-focus-inner{border:0;padding:0;}
/* font */
.f10{font-size:10px;}
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f30{font-size:30px;}
.f40{font-size:40px;}
.fwb{font-weight:bold;}
.fsi{font-style:italic;}
.tdu{text-decoration:underline;}
.tdl{text-decoration:line-through;}
.ffa{font-family:Arial;}
.fft{font-family:Tahoma;}
.ffs{font-family:'宋体';}
.ffw{font-family:'微软雅黑';}
.ffy{font-family:"幼圆"}
.ffh{font-family:"黑体"}
.wordwrap{word-wrap:break-word;}
.nowrap{white-space:nowrap;}
/* align */
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
.cp{cursor:pointer;}
.h10{clear:both;height:10px;overflow:hidden;}
/* layout */
.ppr{position:relative;}
.ppa{position:absolute;}
.m0{margin:0;}
.m1{margin:1px;}
.m3{margin:3px;}
.mt3{margin-top:3px;}
.mr3{margin-right:3px;}
.mb3{margin-bottom:3px;}
.ml3{margin-left:3px;}
.mtb3{margin:3px 0;}
.mlr{margin:0 3px;}
.m5{margin:5px;}
.mt5{margin-top:5px;}
.mr5{margin-right:5px;}
.mb5{margin-bottom:5px;}
.ml5{margin-left:5px;}
.mtb5{margin:5px 0;}
.mlr5{margin:0 5px;}
.m10{margin:10px;}
.mt10{margin-top:10px;}
.mr10{margin-right:10px;}
.mb10{margin-bottom:10px;}
.ml10{margin-left:10px;}
.mtb10{margin:10px 0;}
.mlr10{margin:0 10px;}
.mb15{margin-top:15px;}
.mb20{margin-top:20px;}
.mb30{margin-top:30px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.pd1{padding:1px;}
.pd2{padding:2px;}
.pd3{padding:3px;}
.pt3{padding-top:3px;}
.pr3{padding-right:3px;}
.pb3{padding-bottom:3px;}
.pl3{padding-left:3px;}
.ptb3{padding:3px 0;}
.plr3{padding:0 3px;}
.pd5{padding:5px;}
.pt5{padding-top:5px;}
.pr5{padding-right:5px;}
.pb5{padding-bottom:5px;}
.pl5{padding-left:5px;}
.ptb5{padding:5px 0;}
.plr5{padding:0 5px;}
.pd10{padding:10px;}
.pt10{padding-top:10px;}
.pr10{padding-right:10px;}
.pb10{padding-bottom:10px;}
.pl10{padding-left:10px;}
.ptb10{padding:10px 0;}
.plr10{padding:0 10px;}
.pb15{padding-top:15px;}
.pb20{padding-top:20px;}
.pb30{padding-top:30px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.r0{right:0}
.r5{right:5px}
.r10{right:10px}
.r15{right:15px}
.r20{right:20px}
.b0{bottom:0px}
.b2{bottom:2px}
.b5{bottom:5px}
.b8{bottom:8px}
.b10{bottom:10px}
.w100{width:100%;}
.w1000{width:1000px;}
.h100{height:100%;}
/* display */
.db{display:block;}
.dn{display:none;}
.dib{-moz-inline-stack:inline-block;display:inline-block;_display:inline;}
.oh{overflow:hidden;}
.os{overflow:scroll;}
.oxhys{overflow-x:hidden;overflow-y:scroll;}
.vh{visibility:hidden;}
.vv{visibility:visible;}
/* color */
.red,.red a:link,.red a:visited{color:#f00;}
.red a:hover{color:#f00;}
.green,.green a:link,.green a:visited{color:#090;}
.green a:hover{color:#090;}
.blue,.blue a:link,.blue a:visited{color:#06c;}
.blue a:hover{color:#e94609;}
.yellow, .yellow a:link,.yellow a:visited{color:#ff3;}
.orange,.orange a:link,.orange a:visited{color:#f60;}
.orange a:hover{color:#f60;}
.white,.white a:link,.white a:visited{color:#fff;}
.white a:hover{color:#ff0;}
.textf6a{color:#e94609;}
.textf6a a:link,.textf6a a:visited{color:#e94609;}
.textf6a a:hover{color:#b70031;}
.textf93,.textf93 a:link,.textf93 a:visited{color:#f93;}
.textf93 a:hover{color:#f93;}
.textc90,.textc90 a:link,.textc90 a:visited{color:#c90;}
.textc90 a:hover{color:#960;}
/* border */
.bdc{border:1px solid #ccc;}
.imgbdbp2{border:1px solid #ccc;background:#fff;padding:2px;}
.imgbdbp1{border:1px solid #ccc;background:#fff;padding:1px;}
/* min height */
.minheight500{min-height:500px;height:auto !important;height:500px;overflow:visible;}