/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,blockquote,fieldset,div,strong,label,em{margin:0;padding:0;border:0;}
ul,ol,li{list-style:none;}
input,button{margin:0;font-size:12px;vertical-align:middle;}
body{font-size:12px;font-family:Arial, Helvetica, sans-serif;  text-align:center; margin:0 auto; }
a{color:#333;text-decoration:none;}
a:hover{color:#ef9b11; text-decoration:underline; }
em{ font-style:normal;}
H3 {FONT-SIZE: 14px}

.box{width:288px; margin:20px auto; text-align:left;}
.allsort {
	Z-INDEX: 11; BACKGROUND: url(../images/163cssBg.jpg) no-repeat 0px -166px; FLOAT: left; WIDTH: 211px; MARGIN-RIGHT: 4px; POSITION: relative; HEIGHT: 50px
}
.allsort .mt {
	PADDING-RIGHT: 12px; PADDING-LEFT: 16px; PADDING-BOTTOM: 12px; CURSOR: pointer; LINE-HEIGHT: 24px; PADDING-TOP: 14px; HEIGHT: 24px
}
.allsort .mt STRONG {
	FONT-SIZE: 14px; FLOAT: left; COLOR: #630
}
#o-search .allsort .mt A {
	COLOR: #630
}
.allsort .mt .extra {
	DISPLAY: none
}
.allsort .mc {
	BORDER-RIGHT: #c40000 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #c40000 0px solid; PADDING-LEFT: 3px; BACKGROUND: #fef8ef; PADDING-BOTTOM: 0px; OVERFLOW: visible; BORDER-LEFT: #c40000 1px solid; WIDTH: 203px; PADDING-TOP: 0px; BORDER-BOTTOM: #c40000 1px solid; POSITION: absolute; TOP: 45px; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px
}
.allsort .item {
	BORDER-TOP: #fde6d2 1px solid; WIDTH: 203px; HEIGHT: 32px
}
.allsort .fore {
	BORDER-TOP-STYLE: none
}
.allsort SPAN {
	DISPLAY: block; Z-INDEX: 1; WIDTH: 203px; POSITION: relative
}
.allsort H3 {
	BORDER-RIGHT: #fef8ef 0px solid; BORDER-TOP: #fef8ef 1px solid; PADDING-LEFT: 20px; FONT-WEIGHT: normal; BACKGROUND: url(http://misc.360buyimg.com/201007/skin/df/i/bg_nav_0715.jpg) no-repeat -318px -240px; BORDER-LEFT: #fef8ef 1px solid; WIDTH: 140px; BORDER-BOTTOM: #fef8ef 1px solid; HEIGHT: 30px
}
.allsort H3 A:link {
	DISPLAY: block; COLOR: #333; LINE-HEIGHT: 30px; HEIGHT: 30px
}
.allsort H3 A:visited {
	DISPLAY: block; COLOR: #333; LINE-HEIGHT: 30px; HEIGHT: 30px
}
.allsort H3 A:hover {
	COLOR: #1b578a
}
.allsort H3 A:active {
	COLOR: #1b578a
}
.allsort S {
	DISPLAY: block; BACKGROUND: url(../images/163cssBg.jpg) no-repeat -274px -216px; LEFT: 182px; WIDTH: 13px; POSITION: absolute; TOP: 10px; HEIGHT: 13px
}
.allsort .item .i-mc {
	BORDER-RIGHT: #c30 1px solid; BORDER-TOP: #c30 1px solid; DISPLAY: none; BACKGROUND: #fff9ef; LEFT: 163px; OVERFLOW: hidden; BORDER-LEFT: #c30 1px solid; WIDTH: 506px; BORDER-BOTTOM: #c30 1px solid; POSITION: absolute; TOP: 0px
}
.allsort .item DT {
	PADDING-RIGHT: 6px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 3px
}
.allsort .item DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; PADDING-TOP: 3px; ZOOM: 1
}
.allsort .subitem {
	PADDING-RIGHT: 4px; PADDING-LEFT: 8px; MIN-HEIGHT: 340px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 484px; PADDING-TOP: 0px
}
.allsort .subitem DL {
	PADDING-RIGHT: 0px; BORDER-TOP: #ffefd7 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; OVERFLOW: hidden; PADDING-TOP: 6px; ZOOM: 1
}
.allsort .subitem .fore {
	BORDER-TOP-STYLE: none
}
.allsort .subitem DT {
	FLOAT: left; WIDTH: 54px; LINE-HEIGHT: 22px; TEXT-ALIGN: right
}
.allsort .subitem DT A{COLOR: #c00;}
.allsort .subitem DD {
	FLOAT: left; WIDTH: 420px
}
.allsort .subitem DD A { BORDER-LEFT: #ccc 1px solid; padding:0 8px; margin-bottom:5PX; TEXT-DECORATION: underline;display:inline-block; line-height:20PX;
}

.allsort .fr {
	BACKGROUND: #fff; MARGIN-BOTTOM: -2000px; PADDING-BOTTOM: 2010px; WIDTH: 176px
}
.allsort .fr DL {
	PADDING-BOTTOM: 0px
}
#o-search .allsort .fr A {
	COLOR: #666
}
.allsort .brands {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 6px; WIDTH: 160px; PADDING-TOP: 6px
}
.allsort .brands EM {
	FLOAT: left; WIDTH: 80px
}
.allsort .brands DD {
	LINE-HEIGHT: 20px; PADDING-TOP: 6px
}
.allsort .promotion {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 6px; WIDTH: 160px; PADDING-TOP: 6px
}
.allsort .promotion DD {
	LINE-HEIGHT: 20px; PADDING-TOP: 6px
}
.allsort .mc .extra {
	PADDING-RIGHT: 8px; BORDER-TOP: #fde6d2 1px solid; PADDING-LEFT: 8px; BACKGROUND: #fdf1de; PADDING-BOTTOM: 7px; PADDING-TOP: 7px
}
#o-search .allsort .mc .extra A {
	COLOR: #c00
}
.allsorthover {
	BACKGROUND-POSITION: 0px -166px
}
.allsorthover .mt .extra {
	BACKGROUND-POSITION: -274px -190px
}
.allsorthover .mc {
	DISPLAY: block
}
.allsort .hover SPAN {
	Z-INDEX: 13; WIDTH: 160px
}
.allsort .hover H3 {
	BORDER-RIGHT: #c30 0px solid; BORDER-TOP: #c30 1px solid; FONT-WEIGHT: bold; BACKGROUND: url(../images/163cssBg.jpg) #fff9ef no-repeat -318px -172px; OVERFLOW: hidden; BORDER-LEFT: #c30 1px solid; BORDER-BOTTOM: #c30 1px solid
}
.allsort .hover S {
	DISPLAY: none
}
.allsort .hover .i-mc {
	DISPLAY: block; Z-INDEX: 12
}
* HTML .allsort .item DD {
	PADDING-BOTTOM: 6px
}
