@charset "utf-8";/* 天空蓝 */
/* 载入外部字体 */
@font-face{font-family:"neter";src:url("../font/neteasefont-regular.eot#iefix") format("embedded-opentype"),url("../font/neteasefont-regular.woff") format("woff"),url("../font/neteasefont-regular.ttf") format("truetype"),url("../font/neteasefont-regular.svg#neteasefontregular") format("svg");}
html,body{margin:0;padding:0;width:100%;height:100%;color:#222;font-size:12px;background:#fff;}
/* 输入框 */
input[type=text],input[type=password],input[type=text].neter-input-gray,input[type=password].neter-input-gray{padding:4px 8px;background:#FFF;border:1px #BBB solid;height:20px;box-shadow:1px 1px 2px rgba(0,0,0,0.1) inset;}
input[type=text]:hover,input[type=password]:hover{border-color:#979797;}
input[type=text]:focus,input[type=password]:focus{border-color:#3366CC;}
/* 灰色输入框 */
input[type=text].neter-input-gray,input[type=password].neter-input-gray{padding:7px 8px 6px;border-radius:2px;background:#EEF3F8;border:1px #BAC5D4 solid;border-color:#BAC5D4 #D5DBE2 #D5DBE2 #BAC5D4;}
input[type=text].neter-input-gray:hover,input[type=text].neter-input-gray:focus,input[type=password].neter-input-gray:hover,input[type=password].neter-input-gray:focus{border-color:#60A4E8 #84B4FC #84B4FC #60A4E8;background:url(../images/bg_v5.png) no-repeat 0 -160px;}
/* 普通按钮 */
input[type=button],button,input[type=button].neter-button-primary,button.neter-button-primary{border-radius:2px;background:url(../images/button_bg.png) repeat-x 0 0;border:1px #BBB solid;height:28px;line-height:28px;padding:0 12px;text-align:center;color:#555;cursor:pointer;font-size:12px;out-line:none;}
input[type=button]:hover,button:hover,input[type=button].neter-button-primary:hover,button.neter-button-primary:hover{box-shadow:0 1px 3px rgba(0,0,0,0.2);}
input[type=button]:active,button:active{background-image:url(../images/button_bg_active.png);}
/* 主按钮 */
input[type=button].neter-button-primary,button.neter-button-primary{color:#FFF;border-color:#459830;background-image:url(../images/button_bg_primary.png);}
input[type=button].neter-button-primary:active,button.neter-button-primary:active{background-image:url(../images/button_bg_primary_active.png);}
/* 普通大按钮 */
input[type=button].neter-button-large,button.neter-button-large{background:url(../images/bg_v5.png) no-repeat -112px -208px #eee;color:#555;width:102px;border:0 none;border-radius:5px;cursor:pointer;font-size:14px;font-weight:700;height:35px;line-height:35px;display:inline-block;outline:0 none;text-align:center;}
input[type=button].neter-button-large:hover,button.neter-button-large:hover{background-position:-112px -256px;}
input[type=button].neter-button-large:active,button.neter-button-large:active{background-position:-112px -304px;}
/* 蓝色大按钮 */
input[type=button].neter-button-large-primary,button.neter-button-large-primary{color:#FFF;background:url(../images/bg_v5.png) no-repeat 0 -208px #4188cf;}
input[type=button].neter-button-large-primary:hover,button.neter-button-large-primary:hover{background-position:0 -256px;}
input[type=button].neter-button-large-primary:active,button.neter-button-large-primary:active{background-position:0 -304px;}
/* Neter.Panel(面板插件) */
/* 面板容器 */
.neter-panel{position:relative;border:1px solid #B7C2C9;border-radius:5px;background:#FFF;box-shadow:0 1px 3px 0 rgba(0,0,0,0.2);overflow:hidden;}
/* 面板标签栏 */
.neter-panel-tag-bar{height:49px;overflow:hidden;clear:both;}
/* 面板主体容器 */
.neter-panel-view-container{overflow:hidden;}
/* 面板标签 */
.neter-panel-tag{float:left;background:url(../images/bg_v5.png) repeat-x 0 0 #f1f4f6;border-right:1px solid #B7C2C9;border-bottom:1px solid #B7C2C9;color:#333;font-size:14px;font-weight:700;height:48px;line-height:46px;overflow:hidden;text-align:center;cursor:pointer;text-overflow:ellipsis;}
/* 当前标签 */
.neter-panel-tag-current{background:none;height:49px;}
/* 面板主体 */
.neter-panel-view{display:none;}
/* Neter.Tips（信息提示框插件） */
/* 信息框基本样式 */
.neter-tips{position:absolute;padding:0 10px;display:inline-block;height:26px;line-height:26px;background:url(../images/tips_bg_success.png) repeat-x 0 0 #666;border-radius:0 0 5px 5px;color:#FFF;font-size:13px;font-weight:700;left:50%;top:-26px;z-index:9999;}
/* 成功类型的信息框 */
.neter-tips-success{background-color:/*url(../images/tips_bg_success.png)*/ #47a631;}
/* 错误类型的信息框*/
.neter-tips-error{background-color:/*url(../images/tips_bg_error.png)*/ #be5454;}
/* 警告类型的信息框 */
.neter-tips-warning{background-color:/*url(../images/tips_bg_warning.png)*/ #c27a32;}
/* 旁白类型的信息框 */
.neter-tips-aside{background-color:/*url(../images/tips_bg_aside.png)*/ #6a6a6a;}
/* Neter.SearchBar（搜索条插件） */
/* 搜索条 */
.neter-search-bar{position:relative;height:30px;overflow:hidden;}
/* 搜索框 */
input[type=text].netbar-search-bar-keyword{border-right:0;}
/* 下拉选项按钮 */
.neter-search-bar-options-button{position:absolute;display:none;width:16px;height:16px;top:6px;background:url(../images/arrow_down.png) no-repeat 4px 6px;cursor:pointer;}
/* 搜索按钮 */
button.neter-search-bar-search-button{position:absolute;right:0;top:0;display:block;width:44px;height:30px;border-radius:0 2px 2px 0;background:url(../images/button_bg_primary.png) no-repeat 0 0;}
button.neter-search-bar-search-button:hover{border:1px #146700 solid;}
.neter-search-bar-search-button b{display:block;width:40px;height:30px;background:url(../images/search.png) no-repeat 8px 5px;}
/* Neter.Box（盒子插件） */
/* 盒子 */
.neter-box{position:absolute;display:none;border:2px #999 solid;background:#FFF;box-shadow:0 0 5px rgba(0,0,0,0.2);line-height:1.666;padding:8px;cursor:default;color:#222;font-size:12px;text-align:left;word-break:break-all;word-wrap:break-word;overflow:hidden;z-index:5000;}
/* 视图 */
.neter-box-view{overflow:hidden;}
/* 关闭按钮 */
.neter-box-close-button{position:absolute;display:none;right:8px;top:8px;width:16px;height:16px;color:#CCC;font-family:Verdana,Geneva,sans-serif;cursor:pointer;z-index:5;}
.neter-box-close-button:hover{color:#555;}
.neter-box-close-button b{position:absolute;font-size:14px;left:4px;top:-3px;font-family:'neter' !important;overflow:hidden;}
/* Neter.DropDownMenu（下拉菜单） */
/* 下拉菜单事件承载器 */
.neter-drop-down-menu{position:absolute;left:0;top:0;}
/* 下拉菜单项容器 */
.neter-drop-down-menu-item,.neter-drop-down-menu-separator{position:relative;padding:0 32px 0 32px;visibility:visible;line-height:27px;text-align:left;white-space:nowrap;display:block;color:#555;font-size:14px;cursor:pointer;}
.neter-drop-down-menu-item:hover,.neter-drop-down-menu-item-current{background-color:#3366CC;color:#FFF !important;}
/* 菜单项前缀 */
.neter-drop-down-menu-item-front{position:absolute;display:none;background:url(../images/menu_radio_checked.png) no-repeat 3px 5px;left:8px;top:3px;width:24px;height:22px;z-index:10;overflow:hidden;}
/* 菜单项 */
.neter-drop-down-menu-item-name{}
/* 菜单项分隔线 */
.neter-drop-down-menu-separator{border:1px #E9E9E9 solid;border-width:0 0 1px;font-size:0;height:0;margin:10px 0;overflow:hidden;cursor:default;}
/* 菜单项后缀 */
.neter-drop-down-menu-item-rear{position:absolute;display:none;width:22px;height:24px;right:5px;top:1px;z-index:10;overflow:hidden;background:url(../images/arrow_right.png) no-repeat 10px 10px;}
/* Neter.Navigation（导航插件） */
/* 导航条 */
.neter-navigation{position:relative;height:38px;overflow:hidden;}
/* 导航条容器 */
.neter-navigation-ul{position:relative;display:block;margin:0;padding:0;border-bottom:1px #CCC solid;margin-left:12px;overflow:hidden;list-style:none;z-index:2px;}
/* 导航项 */
.neter-navigation-item,.neter-navigation-item-options-menu-button{position:relative;display:block;float:left;margin-left:-1px;height:24px;padding:9px 20px 1px 8px;background:url(../images/blue/bgx.png) repeat-x 0 0;background-position:0 -112px;background:-moz-linear-gradient(center top,#FEFFFF,#DAE8F6) repeat;border-color:#B9C4CF;border-style:solid;border-width:1px 1px 0;border-radius:2px 2px 0 0;font-size:14px;color:#6A6A6A;text-overflow:ellipsis;text-align:center;outline:0 normal;cursor:pointer;z-index:3;}
.neter-navigation-item:hover,.neter-navigation-item-options-menu-button:hover,.neter-navigation-item-hover{background-position:0 -160px;background:-moz-linear-gradient(center top,#FEFFFF,#C8DCF1) repeat;border-color:#A1ACB8;}
.neter-navigation-item:active,.neter-navigation-item-options-menu-button:active,.neter-navigation-item-active{background-position:0 -208px;background:#A0B0C1;border-color:#808D9B;color:#6A6A6A;}
.neter-navigation-item-selected{background-position:0 -272px;background:-moz-linear-gradient(center top,#196FC6,#135BA5) repeat 0 0 !important;border-color:#135AA4;font-weight:bold;color:#FFF !important;}
/* 下拉选项按钮 */
.neter-navigation-item-options-menu-button{border-top-left-radius:0;font-size:12px;height:31px;line-height:30px;margin-top:3px;padding:0;width:27px;}
.neter-navigation-item-options-menu-button b{position:absolute;left:10px;top:15px;background:url(../images/arrow_down.png) no-repeat 0 0;height:4px;width:7px;overflow:hidden;}
/* 后置对象容器 */
.neter-navigation-item-rear{height:19px;position:absolute;right:8px;top:11px;width:19px;cursor:pointer;display:none;}
.neter-navigation-item-close-button:hover{border-radius:2px;border:1px #A1ACB8 solid !important;color:#4E5257;}
/* 选中项的关闭按钮样式 */
.neter-navigation-item-selected .neter-navigation-item-close-button:hover{background:-moz-linear-gradient(center top,#AAC7E6,#77A7D9) repeat 0 0;color:#4E5257;}
/* 关闭按钮背景 */
.neter-navigation-item-close-button{display:block;color:#CCC;font-size:12px;height:7px;outline:0 none;padding:3px;position:absolute;width:7px;}
.neter-navigation-item-close-button b{position:absolute;left:3px;top:-2px;overflow:hidden;font-family:neter;cursor:pointer;}
/* 导航分隔线 */
.neter-navigation-separator{position:absolute;background:url(../images/blue/bgx.png) repeat-x 0 -85px;left:0;bottom:0;height:5px;width:100%;z-index:5;}
/* 视图区域 */
.neter-navigation-view{position:relative;height:100%;display:none;}
/* Neter.Accordion（折叠菜单插件） */
/* 菜单项容器 */
.neter-accordion-item-container,.neter-accordion-item{margin-right:1px;height:32px;line-height:32px;position:relative;overflow:hidden;}
/* 子菜单项的容器 */
.neter-accordion-item-container .neter-accordion-item-container .neter-accordion-item{padding-left:40px;}
/* 菜单项 */
.neter-accordion-item{padding-left:26px;cursor:pointer;font-size:12px;}
.neter-accordion-item:hover,.neter-accordion-item-selected{background:#E6E6E6;}
.neter-accordion-item-selected{font-weight:bold;}
/* 菜单项分隔线 */
.neter-accordion-separator{margin:10px 12px;border:1px #E0E0E0 solid;border-width:1px 0 0;height:0;line-height:0;}
/* 菜单项前置对象 */
.neter-accordion-item-front,.neter-accordion-item-front-unfold{position:absolute;display:none;left:0;top:0;width:26px;height:32px;background:url(../images/arrow_right.png) no-repeat 13px 12px;}
.neter-accordion-item-front-unfold{background:url(../images/arrow_down.png) no-repeat 13px 12px;}
/* 菜单项后置对象 */
.neter-accordion-item-rear{position:absolute;display:none;right:1px;top:0;}
/* 菜单项名称 */
.neter-accordion-item-name{text-overflow:ellipsis;text-shadow:0 1px 0 #FFF;}
/* 菜单组 */
.neter-accordion-item-group{display:block;}
/* Neter.Window（弹出窗口） */
/* 窗口 */
.neter-window{z-index:9999;}
/* 窗口遮罩层 */
.neter-window-shadow{position:absolute;display:none;top:0;left:0;width:100%;height:100%;z-index:9000;background:rgba(0,0,0,0.1);}
/* 窗口标题栏 */
.neter-window-title-bar{position:absolute;left:0;top:0;font-size:14px;font-weight:700;text-overflow:ellipsis;}
/* 按钮栏 */
.neter-window-buttons-bar{position:absolute;display:none;right:0;bottom:0;text-align:right;background:#F6F6F6;}
.neter-window-buttons-bar-button{margin-left:10px;}
